body {
    background-color: #e60012;
    overflow: auto;
}

#content {
    background-color: beige;
}

h1 {
    font-family: monospace;
    color: navy;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-family: sans-serif;
    color: black;
}

p {
    color: black;
    font-size: 15px;
}

ul#Navi {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

ul#Navi li {
        display: inline;
}