body {
    background-color: #e60012;
    overflow: auto;
}

#content {
    background-color: #f5f5f5;
}

img { 
    display: inline-block;
}

h1 {
    font-family: monospace;
    color: navy;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-family: sans-serif;
    color: black;
}

p {
    color: black;
    font-size: 15px;
}

ul#Navi {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

ul#Navi li {
        display: inline;
}

.count {
    display: inline-block;
    font-family: "thumbsUp.jpg";
}

#fake-flash {
    display: inline-block;
    font-size: 15px;
}

#fixed-div {
    height: 210px;
    width: 249.16px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}