
h1 {
    font-family: monospace;
    color: navy;
    font-weight: 400;
    text-align: center;
}


body {
    background-color: #e60012;
}

h2 {
    font-family: serif;
    color: black;
}

p {
    color: black;
    font-size: 15px;
}

#Navi {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
    }

#Navi li {
        display: inline;
    }