<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>San Franasia</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/map.css">
</head>


<body>
<!-- header -->
  <header>
    <a href="/"><img src="/static/img/headerLogo.png" alt="SanFranasia" position="center" width="300px" height="100px" class="btn" /></a>
    <br>
  </header>


  <!--flash message-->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
        <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}


  <!--body-->
  <div class="col-md-10 col-md-offset-1" id="content">
  <ul class="nav nav-pills">
    <li>
    <form action="/search" method="POST">
      <input type="text" name="search-form">
    <input type="submit" value="Search for Restaurants or Users">
    </form>
    </li>  

    <!--limiting non-users to access personal profiles-->
    {% if "current_user" in session %}
    <li><a href="/profile/{{ session.user_id }}">My Account</a></li>
    <li>
    <form action="/logout" method="POST">
      <input type="submit" value="Log out">
    </form>
    </li>
    {% else %}
    <li><a href="/login">Log In</a></li>
    {% endif %}
  </ul>
  {% block content %}
  {% endblock %}
  <div>

  <!--Javascript-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/favorite.js"></script>
  <script type="text/javascript" src="/static/js/numLike.js"></script>
  <script type="text/javascript" src="/static/js/map.js"></script>
  <script type="text/javascript" src="/static/js/removeComment.js"></script>
  <script type="text/javascript" src="/static/js/addRestaurant.js"></script>
</body>
</html>