<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pocket Asia</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/base.css">
</head>


<body>
<!-- header -->
  <header>
    <a href="/"><img src="/static/img/headerLogo.png" alt="PocketAsia" position="center" width="300px" height="100px" class="btn" /></a>
    <br>
  </header>


  <!--flash message-->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
        <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}


  <!--body-->
  <div class="col-md-10 col-md-offset-1" id="content">
  {% block content %}
  {% endblock %}
  <div>

  <!--Javascript-->
  <script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
  <script type="text/javascript" src="/static/js/favorite.js"></script>
  <script type="text/javascript" src="/static/js/numLike.js"></script>
</body>
</html>