{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-5 col-sm-5 col-xs-5">
    <ul class="nav nav-pills">
      <li>
      <form action="/search" method="POST">
        <input type="text" name="search-form">
      <input type="submit" value="Search">
      </form>
      </li>  
      {% if "current_user" in session %}
      <li><a href="/profile/{{ user.user_id }}">My Account</a></li>
      <li>
      <form action="/logout" method="POST">
        <input type="submit" value="Log out">
      </form>
      </li>
      {% else %}
      <li><a href="/login">Log In</a></li>
      {% endif %}
    </ul>
    <form action="/restaurant_list" method="POST">
    Choose Your Cuisine of the Day!
    <select name="cuisine-type">
      <option value="Japanese">Japanese</option>
      <option value="Chinese">Chinese</option>
      <option value="Korean">Korean</option>
      <option value="Indian">Indian</option>
      <option value="Vietnamese">Vietnames</option>
      <option value="Thai">Thai</option>
      <option value="Middle Eastern">Middle Eastern</option>
    </select>
    <input id="cuisine-btn" type="submit" value="Check it out!">
    </form>
  </div>
</div>

{% endblock %}
