{% extends "new_base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <div id="myCarousel" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="static/img/carouselstart.jpg" class="img-rounded" alt="Japanese">
                                <div class="carousel-caption">
                                    <h3>Foodie Critic!</h3>
                                </div>
                        </div>
                        <div class="item">
                            <img src="/static/img/1.jpg" alt={{ restaurants[0].name }} class="img-rounded">
                            <div class="carousel-caption">
                                <h3><a href="/search_restaurant/{{ restaurants[0].restaurant_id }}">{{ restaurants[0].name }}</a></h3>
                                <div class="transbox">
                                    {% if restaurants[0].restaurant[0] %}
                                    <p>{{ restaurants[0].restaurant[0].comment }}</p>
                                    {% else %}
                                    <h5>Click here to give the first comment.</h5>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/static/img/2.jpg" alt={{ restaurants[1].name }} class="img-rounded">
                            <div class="carousel-caption">
                                <h3><a href="/search_restaurant/{{ restaurants[1].restaurant_id }}">{{ restaurants[1].name }}</a></h3>
                                <div class="transbox">
                                    {% if restaurants[1].restaurant[0] %}
                                    <p>{{ restaurants[1].restaurant[0].comment }}</p>
                                    {% else %}
                                    <h5>Click here to give the first comment.</h5>
                                    {% endif %}
                                </div>
                          </div>
                        </div>
                        <div class="item">
                            <img src="/static/img/3.jpg" alt={{ restaurants[2].name }} class="img-rounded">
                            <div class="carousel-caption">
                                <h3><a href="/search_restaurant/{{ restaurants[2].restaurant_id }}">{{ restaurants[2].name }}</a></h3>
                                <div class="transbox">
                                    {% if restaurants[2].restaurant[0] %}
                                    <p>{{ restaurants[2].restaurant[0].comment }}</p>
                                    {% else %}
                                    <h5>Click here to give the first comment.</h5>
                                    {% endif %}
                                </div>
                          </div>
                        </div>
                        <div class="item">
                            <img src="/static/img/4.jpg" alt={{ restaurants[3].name }} class="img-rounded">
                            <div class="carousel-caption">
                                <h3><a href="/search_restaurant/{{ restaurants[3].restaurant_id }}">{{ restaurants[3].name }}</a></h3>
                                <div class="transbox">
                                    {% if restaurants[3].restaurant[0] %}
                                    <p>{{ restaurants[3].restaurant[0].comment }}</p>
                                    {% else %}
                                    <h5>Click here to give the first comment.</h5>
                                    {% endif %}
                                </div>
                          </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
                <h2 class="brand-before">
                    <small>Welcome to</small>
                </h2>
                <h1 class="brand-name">San Franasia</h1>
                <hr class="tagline-divider">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">This is the place to go
                    <strong>when you craves for exotic flavors</strong>
                </h2>
                <hr>
                <img class="img-border img-left" src="/static/img/friedrice.jpg" alt="" height="165px" width="225px">
                <p>San Franasia is a web app for enthusiastic foodies to share their tasting experience and discover some must-go restaurants. To join us, simply register and start your cuisine crush here. As a registered user, you are granted for many features in this app. You may search and view most updated restaurant information. You can get accurate route details from your current location to the place of your choice on a map. Our rating and comment features welcome every user to view and edit. More features regarding connecting with friends and initializing tasting meetups are <strong>coming soon</strong>.</p>
                <p></p>
            </div>
        </div>
    </div>
    
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Explore These Exotic Flavors</strong>
                    </h2>
                    <hr>
                        <section class="no-padding" id="portfolio">
                            <div class="row no-gutter popup-gallery">
                                <div class="col-lg-3 col-sm-4" style="height: 195px">
                                    <a href="/restaurant_list/Korean" class="portfolio-box">
                                        <img src="/static/img/kr.jpg" class="img-responsive" alt="Korean">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Korean
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-sm-4" style="height: 195px">
                                    <a href="/restaurant_list/Chinese" class="portfolio-box">
                                        <img src="/static/img/cn.jpg" class="img-responsive" alt="Chinese">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Chinese
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-sm-4" style="height: 195px">
                                    <a href="/restaurant_list/Middle Eastern" class="portfolio-box">
                                        <img src="/static/img/middle.jpg" class="img-responsive" alt="Middle Eastern">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Middle Eastern
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-sm-4" style="height: 195px">
                                    <a href="/restaurant_list/Japanese" class="portfolio-box">
                                        <img src="/static/img/jp.jpg" class="img-responsive" alt="Japanese">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Japanese
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-sm-4" style="height: 195px">
                                    <a href="/restaurant_list/Vietnamese" class="portfolio-box">
                                        <img src="/static/img/viet.jpg" class="img-responsive" alt="Vietnamese">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Vietnamese
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-sm-4" style="height: 195px">
                                    <a href="/restaurant_list/Indian" class="portfolio-box">
                                        <img src="/static/img/indian.jpg" class="img-responsive" alt="Indian">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Indian
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-sm-4" style="height: 195px">
                                    <a href="/restaurant_list/Thai" class="portfolio-box">
                                        <img src="/static/img/thai.jpg" class="img-responsive" alt="Thai">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Thai
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-sm-4" style="height: 195px">
                                    <a href="/" class="portfolio-box">
                                        <img src="/static/img/seventh.jpg" class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Coming Soon
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </section>
                </div>
            </div>
        </div>
</div>
{% endblock %}
