{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="static/base.css">
<link rel="stylesheet" href="static/make_comment.css">
{% endblock %}
{% block content %}
<div>
  <div class="rating-box">
    <h2>How do you think about this restaurant?</h2>
    <form action="/ratings/{{ restaurant_id }}" method="POST">
      <br><label>Cleanliness <input name="rating1" type="number" class="rating" min=1 max=5 data-size="md"></label>
      <br><label>Quality <input name="rating2" type="number" class="rating" min=1 max=5 data-size="md"></label>
      <br><label>Atmosphere <input name="rating3" type="number" class="rating" min=1 max=5 data-size="md"></label>
      <br><label>Consistency <input name="rating4" type="number" class="rating" min=1 max=5 data-size="md"></label>
      <br><input type="submit" value="Rate!">
    </form>
  </div>
</div>
    
{% endblock %}