{% extends "base.html" %}

{% block content %}
<h1>User Profile</h1>
<br>
<div class="well spaced" style="width:80%">
  <div class=col-xs-offset-6 col-xs-6>
    <form action="/see_favlist" method="GET">
      <a href="/favlist">My Favorites</a><br>
    </form>
  </div>
</div>
<div class="well spaced" style="width:80%">
  <p>Last Login: {{ user.last_login }}</p>
  <h2>Account Details</h2>
  <p>Username: {{ user.username }}</p>
  <p>Favorite Cuisine: {{ user.fav_cuisine }}</p>
  <b>Recent Ratings</b><br>
    {% for r in user.ratings %}
    <p>Restaurant: <b>{{ r.restaurant.name }}</b></p>
    <p>Cleanliness: {{ r.cleanliness }}</p>
    <p>Quality: {{ r.quality }}</p>
    <p>Atmosphere: {{ r.atmosphere }}</p>
    <p>Consistency: {{ r.consistency }}</p>
    {% endfor %}
  <div><b>User Comments</b><br>
    {% for c in user.comments %}
      <p>{{ c.comment }}</p>
    {% endfor %}
  </div>
</div>

{% endblock %}