{% extends "base.html" %}
{% block content %}
<h1>User Profile</h1>
<br>
<div class="row">
  <div class="well spaced" style="width:80%">
    <div class=col-md-6>
      <a href="/list_favlist/{{ user.user_id }}">My Favorites</a><br>
    </div>
  </div>
  <div class="well spaced" style="width:80%">
    <p>Last Login: {{ last_login }}</p>
    <h2>Account Details</h2>
    <p>Name: <b>{{ user.fname }} {{ user.lname }}</b></p>
    <p>Username: <b>{{ user.username }}</b></p>
    <p>Favorite Cuisine: <a href="/lookup_cuisine">{{ user.fav_cuisine }}</a></p>
    <b>Recent Ratings</b><br>
      {% for r in user.ratings %}
      <p>Restaurant: <b>{{ r.restaurant.name }}</b></p>
      <p>Cleanliness: {{ r.cleanliness }}</p>
      <p>Quality: {{ r.quality }}</p>
      <p>Atmosphere: {{ r.atmosphere }}</p>
      <p>Consistency: {{ r.consistency }}</p>
      {% endfor %}
    <div><h3>User Comments</h3><br>
      {% for c in user.comments %}
        <p><b><a href="/search_restaurant/{{ c.comments.restaurant_id }}">{{ c.comments.name }}</a></b> - {{ c.comment }}</p>
      {% endfor %}
      <p>Member Since: {{ membership }}</p>
    </div>
  </div>
</div>

{% endblock %}