{% extends "base.html" %}
{% block content %}

<h3>List of {{ cuisine }} Restaurants!</h3>
<hr>
<div class="row">
  <div class="col-md-12">
    {% for restaurant in results %}
    <div class="col-md-4">
      <form action="/remove_favor/{{ restaurant.restaurant_id }}" method="POST">
        <a href="/search_restaurant/{{ restaurant.restaurant_id }}">
          <img src={{ restaurant.image }} width="250px" height="180px"><br>{{ restaurant.name }}
        </a>
      </form>
      <br>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}